
form
    max-width: 689px
    margin: auto !important
button
    background-color: #60d2ff !important
label
    color: #bdbdbd !important

.Mui-focused
    color: #60d2ff !important
input
    &:focus
        border-color: red !important
.MuiOutlinedInput-notchedOutline
    border-color: #60d2ff !important
.thanks-label
    color: #60d2ff !important
    padding: 0 16px
